{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="span4 offset4 well">
        <h3>{% trans "Confirm password reset" %}</h3><br />
        <p>{% trans "Enter your new password below to reset your password:" %}</p>
        <form method="post" action="">{% csrf_token %}
        <fieldset>
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
        </fieldset>
        </form>
    </div>
</div>
{% endblock %}
